{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <!--- Navigation Top Bar-->
      <nav id="site-nav" class="nav__topbar" aria-label="Top Bar">
        <!-- Accessibility: For a screen reader, this will group the title and image in the same link unless logo is missing.-->
        {% unless logo_path == empty %}
        <a class="site-logo" href="{{ '/' | relative_url }}">
          <img src="{{ logo_path | relative_url }}"
            alt="Welcome to the pyOpenSci website. The pyOpenSci logo is a purple flower opening over the O (for open)." />
        </a>
        {% endunless %}

        <!-- Navigation top menus -->
        <ul class="nav__links">
          <!-- Interate through all the top level menu items -->
          {%- for link in site.data.navigation.main -%}

          <!-- Check if top level nav item contains submenu items. If yes, populate submenu. If not, link the top level item. -->
          {% if link.sub-nav %}

          <!-- Compose submenu dropdown-->
          <li class="dropdown">
            <button class="dropbtn" tabindex="0" aria-expanded="false">
              {{ link.title }} <i class="fas fa-caret-down"></i>
            </button>
            <ul class="dropdown-content">
              <!-- Populate submenu items-->
              {% for subnav in link.sub-nav %}
              <li>
                <a href="{{ subnav.url | relative_url }}" class="masthead__menu-item hover-underline">{{ subnav.title }}
                  {% if subnav.icon %}
                  <i class="{{ subnav.icon }}"></i> {% endif %}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>

          <!-- Only display the link for a top level nav item with no submenu items -->
          {% else %}

          <li>
            <a href="{{ link.url | relative_url }}" class="hover-underline">{{ link.title }}</a>
          </li>

          {% endif %} {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>